* {
    margin: 0;
    padding: 0;
}

body,html {
    font-family: 'Open Sans', sans-serif, 'Arial';
    font-size: 16px;
    color: #fff;
    line-height: 145%;
    overflow-x: hidden;
    
}


hr.divider {
    max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #17a2b8;
}


.parallex-content {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}

/**************************************
           SIDE NAV
**************************************/

#header {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: right;
    z-index: 99999;
    overflow-y: auto;
    padding: 20px;
    list-style: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

@media (max-width: 992px) {
    #header {
        width: 200px;
        background-color: rgba(0, 0, 0, 0.8);
        left: -200px;
        
        
    }
}




#side-nav {
    margin: 0;
    padding: 0;
}

#side-nav ul li {
    position: relative;
    white-space: nowrap;
    list-style: none;
}

#side-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    height: 20px;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    background-color: #c7c7c7;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 99999;
    overflow: hidden;
    transition-duration: 500ms;
    
}

#side-nav span {
    padding: 0 5px 0 5px;
}

#side-nav .fa-circle {
    font-size: 12px;
}



@media (min-width: 992px) {
    #side-nav a {
        width: 20px;
        height: 20px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        
    }
    
    #side-nav span {
        display: none;
    }
}


#side-nav a:hover, #side-nav .active a, #side-nav li:hover a {
    background: #17a2b8;
    color: #fff;
    border-color: #17a2b8;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

#side-nav a:hover span, #side-nav .active > a span, #side-nav li:hover > a span {
    color: #fff;
}

#side-nav a:hover, #side-nav li:hover > a {
    width: 100%;
    color: #fff;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

#side-nav a:hover span, #side-nav li:hover > a span {
    display: block;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}


.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    border: none;
    background: none;
    color: #17a2b8;
    font-size: 40px;
    font-weight: 500;
    z-index: 9999999;
}




/**************************************
           HERO SECTION
**************************************/


#intro {
    background-image: url(img/1st-section.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.intro-content {
    margin-top: 200px;
}

.intro-content h1 {
    font-size: 100px;
    font-weight: bolder;
    padding: 10px;
}

.intro-content p {
    font-size: 40px;
    padding-bottom: 30px;
}

.intro-content span {
    color: #17a2b8;
    font-weight: 400;
}


/**************************************
          SERVICE SECTION
**************************************/


#services {
    background-image: url(img/2nd-section.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
}

.serv {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

#services ul {
    list-style: none;
}

#services span {
    color: #17a2b8;
}

/**************************************
          PORTFOLIO SECTION
**************************************/

 #portfolio {
    background-image: url(img/3rd-section.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
}

.slider .item {
    width: 90%;
    height: 90%;
    margin: 30px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50%;
    
}

.slider .item .img {
    width: 100%;
    height: 100%;
    margin: 30px;
}


.card {
    border: none;
}


/**************************************
          STORY SECTION
**************************************/



#story {
    background-image: url(img/4th-section.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
}

.tab-groups {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
}

.tab-groups img {
    width: 100%;
    height: 400px;
}

.tab-groups p {
    padding: 30px;
}

.tabs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 30px !important;
    
}

.tabs .btn:hover,
.tabs .btn:active {
    background-color: #27f0f0 !important;
    border-color: #27f0f0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    
}

.tabs-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.tabs-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


/**************************************
          CONTACT SECTION
**************************************/


#contact {
    background-image: url(img/5th-section.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

.form,
.map {
    background-color: rgba(0, 0, 0, 0.5);
}


/**************************************
          FOOTER SECTION
**************************************/


footer {
    background-color: #474747;
    
}

.back-to-top {
    font-size: 50px;
    padding: 20px;
}

.back-to-top i {
    color: #17a2b8;
}

.back-to-top i:hover {
    color: aqua;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.social-icon a {
    padding: 20px;
    font-size: 30px;
    color: #17a2b8;
}

.social-icon a:hover {
    color: aqua;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.copy-right {
    margin-top: 20px;
    font-size: 14px;
}

.copy-right a {
    text-decoration: none;
    color: #17a2b8;
}

.copy-right a:hover {
    color: aqua;
}



/**************************************
          QUERIES
**************************************/

@media only screen and (max-width: 1200px) {
    
    .intro-content { margin-top: 400px; }
    
    #intro { height: 100vh;}
   
    #portfolio { height: 100vh; }
    
    .slider .item { margin-top: 25%;}
    
    .story-content { margin-top: 25%; }
  
    
    
    
}



@media only screen and (max-width: 1023px) {
    
    .intro-content { margin-top: 200px; }

    .intro-content h1 { font-size: 60px; }

    .intro-content p { font-size: 25px; }
    
    .slider .item { margin: 30% 20px 0 20px; }
    
    .tab-groups img {
        width: 100%;
        height: auto;
    }
    
    .tabs-first { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
    .tabs-second { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
    
    
    .mobile-nav-toggle .toggler-icon {
      color: #17a2b8;;
    }

    .mobile-nav-active {
      overflow: hidden;
    }

    .mobile-nav-active #header {
      left: 0;
    }

    .mobile-nav-active #side-nav-toggle .toggler-icon {
      color: #17a2b8;
    }

    
}


@media only screen and (max-width: 767px) {
    
    body { font-size: 14px;}
         
    .intro-content { margin-top: 250px; }

    .intro-content h1 { font-size: 55px; }

    .intro-content p { font-size: 20px; }
    
    
    
}




@media only screen and (max-width: 480px) {
    #intro { background-attachment: scroll;}
    .intro-content h1 { font-size: 50px; }
    .back-to-top { font-size: 40px; }
    .social-icon a { font-size: 20px; }
    .copy-right { font-size: 12px; }
}



@media only screen and (max-width: 321px) {
    
    .intro-content { margin-top: 200px; }

    .intro-content h1 { font-size: 40px; }

    .intro-content p { 
        font-size: 18px;
        padding-bottom: 15px;
    }
    
    .back-to-top { font-size: 30px; }
    .social-icon a { font-size: 15px; }
    .copy-right { font-size: 12px; }
    
}

















